@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
}

body{
    background-color: #f6f6f6;
}

.main-content {
  display: flex;
  box-sizing: border-box;
}

.list-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1600px;
    margin-top: 50px;

}

.appointments-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.appointments-container {
  width: 1400px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

thead {
  background-color: #0057d9;
  color: white;
}

th,
td {
  padding: 14px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.form-btn {
	background-color: #007bff;
	color: white;
	padding: 20px 30px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background 0.3s ease;
	font-weight: 600;

}

.form-btn:hover {
	background-color: #0056b3;
}
