@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
	box-sizing: inherit;
}

.header{
	padding: 30px 0;
}

body{
	background-color: #f6f6f6;
}

.main-content {
  display: flex;
  box-sizing: border-box;
}

.right-content {
  padding: 50px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}

.top-div {
  width: 69vw;
  background-color: white;
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.top-div h1 {
  font-size: 40px;
}

.mid-div {
  width: 69vw;
  display: flex;
}

.info-div,
.info-div-btm {
  width: 100%;
  margin: 0 40px;
  padding: 40px 50px;
  background-color: #0057d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.bottom-div {
  width: 69vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-div-btm {
  width: 100%;
  margin: 0 40px;
  height: 100%;
}

.male-female {
  display: flex;
  gap: 40px;
}

.gender-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.gender-div i {
  font-size: 40px;
}

.account-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.account-box h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 100%;
}

.details p {
  margin-bottom: 15px;
  font-size: 17px;
}

.buttonsofwelcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttonsofwelcome button {
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #3c82f6;
  color: white;
  border: none;
}

.appointment i{
	font-size: 40px;
}
